.reveal .left {
    text-align: left;
    width: 900px;
}

.reveal .muted {
    color: #aaa;
}

.reveal .bigger {
    font-size: 1.2em;
}

.reveal .smaller {
    font-size: 0.75em;
}


.reveal .block {
    display: block;
    width: 90%;
    position: relative;
    margin: 25px auto;

    text-align: left;
    font-size: 0.55em;
    line-height: 1.2em;

    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}

.reveal .block div {
    padding: 20px;
}